.containerCard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 10px;
  margin-top: 2vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  color: black;
}

.container h1 {
  font-size: 32px;
  margin: 0;
  padding-top: 2vh;
  padding-left: 2vw;
}

@media (max-width: 1000px) {
  .containerCard {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 600px) {
  .containerCard {
    grid-template-columns: repeat(2, 1fr);
  }
}
