.navLink {
  display: flex;
  gap: 50px;
}

nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(19, 19, 19);
  padding-left: 30px;
  padding-right: 60px;
  border-bottom: 4px solid rgb(8, 82, 139);
}

a {
  font-weight: 500;
  font-size: 22px;

  text-decoration: none;
}
a:visited {
  color: white;
}
a:hover {
  color: rgb(0, 94, 201);
}

.logo {
  background-image: url(../src/assets/sanix.svg);
  background-repeat: none;
  background-size: cover;
  width: 80px;
  height: 80px;
}

.showNumber {
  display: flex;
  position: absolute;
  right: 50px;
  justify-content: center;
  font-size: 12px;
  font-weight: 800;

  width: 18px;
  height: 18px;
  color: white;
  background-color: rgb(255, 34, 34);
  border-radius: 100%;
}
@media (max-width: 600px) {
  .navLink {
    gap: 5vw;
  }
  nav {
    padding-right: 20px;
  }
  .showNumber {
    right: 13px;
  }
}
