.navLink {
  display: flex;
  gap: 50px;
  padding-right: 30px;
}

nav {
  position: fixed;
  top: 0;
  z-index: 20;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(19, 19, 19);
  border-bottom: 4px solid rgb(8, 82, 139);
}

a {
  font-weight: 500;
  font-size: 22px;
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(0, 94, 201);
}

.logo {
  background-image: url('/sanix.svg');
  background-repeat: none;
  background-size: cover;
  width: 80px;
  height: 80px;
}

.showNumber {
  display: flex;
  position: absolute;
  top: 10px;
  right: 50px;
  justify-content: center;
  font-size: 12px;
  font-weight: 800;

  width: 18px;
  height: 18px;
  color: white;
  background-color: rgb(255, 34, 34);
  border-radius: 100%;
}
.showNumber {
  color: black;
}
@media (max-width: 600px) {
  .navLink {
    gap: 5vw;
  }
  nav {
    padding-right: 20px;
  }
  .showNumber {
    right: 13px;
  }
}
