.container {
  display: flex;

  justify-content: center;
  gap: 10px;
}

.containerCategory {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: black;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.containerCategoryShow {
  text-transform: capitalize;
  padding: 5px;
  column-gap: 5px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
}

.containerCategoryShow a {
  font-size: 16px;
  padding-bottom: 4px;
}

.containerYes {
  display: flex;
  flex-direction: column;

  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.buttonCategory,
.buttonCategoryShow {
  border: none;
  background-color: white;
}
.buttonCategory:hover {
  color: rgb(0, 94, 201);
}

.containerCategory:hover {
  transform: scale(1.1);
}

.containerCategory h2 {
  margin-bottom: 0;
}

.containerCategoryShow a:visited {
  color: rgb(0, 0, 0);
}

.containerCategoryShow a:hover {
  color: rgb(0, 94, 201);
}

@media (max-width: 600px) {
  .containerCategoryShow {
    grid-template-columns: repeat(3, 1fr);
  }
}
