.containerCard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 20px;
  margin-top: 5vh;
}

.container {
  display: flex;

  justify-content: center;
  gap: 10px;
}

.loadingScreen {
  padding-top: 35vh;
  display: flex;
  justify-content: center;
}
